body {
    margin: 0;
}

a {
  text-decoration: none;
}
h1 {
    font-siz: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}

.category {
    border-right: 1px solid gray;
    font-size: 19px;
    margin-left: 30px;
}

ol {
    padding: 30px;
    margin: 0;
}

ol li {
    margin: 10px 0;
}

#grid {
  display: grid;
  grid-template-columns: 20% 1fr;
}

@media(max-width:700px) {
  #grid {
    display: block;
  }  
  .category {
    border-right:none;
  }
  h1 {
    border-bottom: none;
  }
}

.content {
  margin-left: 30px;
  padding: 25px
}