h3.accent {
    background-color: black;
    color: white;
    padding: 5px;
}

.brown-text {
    color: brown;
}

.blue-text {
    color: blue;
}

.container {
    width: 600px;
    padding: 15px;
    border: 1px dotted gray;
}

.underline {
    text-decoration: underline;
}

h2 {
    color: chartreuse !important;
}

body {
    color: cornflowerblue;
}