.create_gallery_wrap {
  width: 100vw;
  height: 100vh;
  background: #0c2329;
  overflow: hidden;
}

.preview_gallery_container {
  width: 100%;
  height: 40%;
  background: #333;
/*  border: 2px solid #0c2329;*/
  margin: 5% 0 3%;
  padding: 0;
}

.all_works_container {
  width: 100%;
  height: 44%;
  border: 2px solid orange;
}

/* gallery*/


.gallery__render {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
/*  width: 100vw;*/
/*  height: 100vh;*/
  height:100%;
  /*  background-image: url('../images/background.jpg');*/
/*  background-size: contain;*/
  overflow: hidden;
}

.main__carousel {
/*  top: 10%;*/
  background: #0c2329;
  position: relative;
  display: block;
  padding: .3% .6%;
  /*  width: 100%;*/
  height: 100%;
  box-sizing: border-box;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: 1%;
  transition: transform 0.25s ease;
}

.carousel__prev i,
.carousel__next i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.73);
  cursor: pointer;
}

.carousel__prev:hover,
.carousel__next:hover {
  transform: scale(1.25);
}

.carousel__prev {
  left: 40%;

}

.carousel__next {
  right: 40%;
}

.carousel__body {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.carousel__body .carousel__slider {
  position: relative;
  left: 0;
  right: 0;
  transition: transform 1s ease-in-out;
  background: transparent;
}

.carousel__body .carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/*

.carousel__body .carousel__slider__item .item__3d-frame:after {
  content: '';
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  transform: rotateX(90deg) translate3d(0px, -20px, 0px);
  opacity: 0.85;
}
*/

.carousel__body .carousel__slider__item .item__3d-frame__box {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-color: #000036;
  background: #ffffff;
  /*     opacity: 0.7;*/
  border-width: 12px;
  border-style: ridge;
}

.item__3d-frame__box.item__3d-frame__box--front .fill {
  width:100%;
  height:100%;
  cursor: pointer;
}

.carousel__body .carousel__slider__item .item__3d-frame__box h1 {
  font-size: 7em;
  width: 100%;
  color: #000036;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right,
.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  top: 0;
  width: 10px;
  backface-visibility: hidden;
  border-style: groove;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  left: 0;
  border-left-width: 3px;
  transform: translate3d(1px, 0, -11px) rotateY(-90deg);
  transform-origin: 0%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right {
  right: 0;
  border-right-width: 3px;
  transform: translate3d(-1px, 0, -11px) rotateY(90deg);
  transform-origin: 100%;
}

.item__3d-frame__box.item__3d-frame__box--front .fill img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__scale__up {
  transform: scale(2);
}

.item__title {
  text-align: center;
  color: white;
  margin-top: 0.6em;
  font-size: 0.7rem;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

/* drag and drop*/
.empty {
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
/*  background: salmon;*/
/*    border: 3px salmon solid;*/

}
.hold {
  border:solid #ccc 4px;
}

.hovered {
  background:#f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

.btn {
  display: block;
  position:relative;
  top:50%;
}

.fill {
  background-image: url("http://source.unsplash.com/random/150x150");
  background-size: cover;
  position: relative;
  height:150px;
  width:150px;
/*  left:5px;*/
/*  top:5px;*/
  cursor: pointer;
}

.empty_block {
  display: inline-block;
  height: 160px;
  width:160px;
  margin:10px;
  border: 3px salmon solid;
  background-color:white;
}