
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-volume:before { content: '\e802'; } /* '' */
.icon-mute:before { content: '\e803'; } /* '' */
.icon-sound:before { content: '\e804'; } /* '' */
.icon-mic:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-bookmark:before { content: '\e807'; } /* '' */
.icon-note-beamed:before { content: '\e808'; } /* '' */
.icon-note:before { content: '\e809'; } /* '' */
.icon-flashlight:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-heart-empty:before { content: '\e80c'; } /* '' */
.icon-user-add:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-bell:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-eye-outline:before { content: '\e812'; } /* '' */
.icon-user-delete:before { content: '\e813'; } /* '' */
.icon-user-delete-outline:before { content: '\e814'; } /* '' */
.icon-undo:before { content: '\e815'; } /* '' */
.icon-bullhorn:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-dollar:before { content: '\e818'; } /* '' */
.icon-cog-1:before { content: '\e819'; } /* '' */
.icon-back:before { content: '\e81a'; } /* '' */
.icon-instagram:before { content: '\e81b'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-mic-1:before { content: '\f048'; } /* '' */
.icon-instagram-1:before { content: '\f05d'; } /* '' */
.icon-dollar-1:before { content: '\f155'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */