* {
	 margin: 0;
	 box-sizing: border-box;
}

header {
  height: 100vh;
  width:100%;
  position: relative;
}
header .profile{
  max-width:70%;
  position: relative;
  top: 30%;
  left:50%;
  transform: translateX(-50%);
  line-height: 1.7rem;
}
header .about-artist{
  width:50%;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;

}
header .about-artist h1{
  margin-top: 2rem;
  margin-bottom:2rem;
}

header .avatar {
  width:20em;
  height: 20em;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid rgba(0, 255, 255, 0.25);
  background-color: rgba(0, 255, 255, 0.075);
  padding: 0.5rem;
  float: left;
  margin-right: 1rem;

}

@media(max-height:400px){
  header .avatar{
    width:10rem;
    height:10rem;
  }
}

header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100% ;
  display: block;
}

.btns {
  width:100%;
  height: 4em;
  background-color: aqua;
  position:absolute;
  bottom:0;
  text-align: center;
}
.goToTop {
  position: absolute;
  bottom: 3%;
  right: 3%;
  visibility: hidden;
}

.btns.show{
  position:fixed;
  top:0;
}

.goToTop.show{
  position: fixed;
  visibility: visible;
  
}
 .section {
	 width: 100%;
	 height: 100vh;
	 line-height: 100vh;
	 text-align: center;
}
 .section:nth-child(even) {
	 background: #eee;
}
 .section:nth-child(odd) {
	 background: #ccc;
} 