.box-container {
  display: flex;
  
}

.box {
  width:100px;
  height:100px;
  border: 2px solid black;
  background: rgba(255,255,0,0.7);
}

.box:hover {
/*  요소를 건들인다.*/
/*  width:200px;*/
/*  height: 200px;*/
  
/* 요소를 건들이지 않는다.*/
/*  transform:scale(1.2) rotate(15deg);*/
/*  transform:skewY(-30deg);*/
/*  transform: translate(30px, 10px);*/
/*  transform:translateX(10px);*/
  transform: rotate(30deg);
/*  transform:scale(1.5);*/
  transform-origin: 100% 50%;
}