.menu {
  width:100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
}

.menu-btn  {
  display: inline-flex;
  margin:0 1em;
  padding: 0.5em 1em 0.5em 0.5em;
  border: 5px solid white;
  border-radius: 20px;
  outline: 0;
  font:900 1.2rem NotoSans;
  width:250px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background:#fff000;
/*  background: linear-gradient(0deg, rgb(223,210,0.1),100deg,rgb(255,240,1))*/
  box-shadow: 0 0 115px rgba(0,222,222,0.9);
}

.icon {
  width:30%;
  height:80%;
}

.icon,.btn-label {
/*  pointer-events: none;*/
}