@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  background-color: black;
}

.box {
  width:200px;
  height: 100px;
  border: 2px solid red;
  text-align:center;
  line-height: 100px;
  margin:0 auto;
  margin-top: 10rem;
  color: #0000ff;
  text-decoration: line-through;
}

/*
.box:hover {
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -o-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}*/

.box:hover {
  transform: rotate(15deg);
}

.web-font {
    font-family: 'Noto Sans JP', sans-serif;
  
}

h1 {
  font-size: 3em;
  color: rgb(0,200,0);
}

.shadow1{
  text-shadow: 1px 1px red;
  letter-spacing: 0.2rem;
}
.shadow2{
  text-shadow: -1px -1px red;
  word-spacing: 0.2rem;
  text-align: justify;
}
.shadow3{
  color: #000;
  text-shadow: 0 0 4px #ccc, 0 -5px 4px #ff3,2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -19px 18px #f20;
}

p {
  font-size: 2em;
  color: #ff0000;
}


.trans1 {
  text-transform: capitalize;
}


.trans2 {
  text-transform: uppercase;
}

.over {
  border: 2px solid yellow;
  width:500px;
  white-space: pre;
  overflow: hidden;
  text-overflow:ellipsis;
}

.over:hover {
  overflow:visible;
}



ul, ol {
  color:#fff;
}

ol {
  list-style-type:lower-roman;
  list-style-position:inside;
}