body {
  margin: 0;
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
}

header {
  background-color: aqua
}
header h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
}

section {
  height: 700px;
}

article {
  padding: 10px;
  width: 60%;
  height: 100%;
  float: left;
  background-color: yellow;
}

aside {
  padding: 10px;
    float: right;
    width: 34%;
    height: 100%;
    background-color: green;
  margin-bottom:10px;
  position: relative;
  left:-50px;
  top:50px;
  z-index:1;
}
footer {
  clear: both;
  height: 100px;
  padding: 10px;
  background-color: fuchsia;
  z-index: 3;
}